/* src/App.css */
/* Estilos globales para toda la aplicación si es necesario */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Color de fondo principal */
}